@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Crimson+Text:wght@400;700&family=Inter:wght@400;700&family=Julee&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LaoMuangDon';
  src: url('../public/lao-muang-don/LaoMuangDon-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'LucidaFax';
  src: url('../public/lucida-fax/LFAX.ttf') format('ttf'),
}
@font-face {
  font-family: 'Chivo';
  src: url('../public/fonts/Chivo/Chivo-VariableFont_wght.ttf') format('ttf'),
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-VariableFont_slntwght.ttf') format('ttf'),
}
@font-face {
  font-family: 'CrimsonText';
  src: url('../public/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'Julee';
  src: url('../public/fonts/Julee/Julee-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'LMD';
  src: url('../public/fonts/lao-muang-don/LaoMuangDon-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('ttf'),
}


/* general */
.bold{
  @apply text-3xl font-bold;
}
.semibold{
  @apply text-2xl font-bold;
}
.light{
  @apply text-xl font-[90];
}


.icon{
  @apply text-4xl
}



span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}




/* Navbar */
.navbar{
  @apply justify-between items-center py-[10px] px-[30px] bg-black text-golden font-CrimsonText;
}
.navbar .main-ul-li{
  @apply mx-4 my-3 p-2 cursor-pointer text-center;
}
.navbar .main-ul-li:hover{
  @apply bg-goldenLight
}
.dropdown li{
  @apply p-3;
}
.dropdown li:hover{
  @apply bg-goldenLight
}
.btn-full-golden{
  @apply text-black font-semibold rounded-lg bg-golden text-xl px-5 py-2 me-2 mb-2;
}
.btn-hollow-golden{
  @apply text-black rounded-lg border-2 border-golden  px-5 py-1 me-2 mb-2;
}

/* Homepage  */
/* .homepage{
  @apply px-10;
} */
.lander{
  @apply font-LucidaFax bg-black text-golden px-10 py-5;
}



/* Homepage : Discover  */
.img-rect{
  @apply w-[250px]; 
}
.noscrollbar::-webkit-scrollbar{
  height: 0;
}
.scroll-animation-left{
  animation: scroll 50s infinite linear forwards;
}
.scroll-animation-right{
  animation: scroll 0s infinite linear reverse;
}
.blur-mask{
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
.first{
  border: 2px solid red;
}
@keyframes scroll {
  to{
    transform: translateX(calc(-50% - .5rem));
  }
}

/* one product page styles */
.product-details-sub li h3{
  @apply inline font-bold
}
.product-dsp .dsp{
  @apply border-2 px-3 py-2 m-2 flex items-center justify-center max-w-[10rem] text-2xl font-bold border-black rounded-lg;
}
.review-bars .progress-bar{
  @apply max-w-[60%]
}
.review-bars .review-star-box{
  @apply my-9
}
.review-bars p{
  @apply leading-[5px] mx-3
}


/* footer styles  */
.footer-quicklinks ul li{
  margin: 5px 0;
}