@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Crimson+Text:wght@400;700&family=Inter:wght@400;700&family=Julee&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LaoMuangDon';
  src: url('../public/lao-muang-don/LaoMuangDon-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'LucidaFax';
  src: url('../public/lucida-fax/LFAX.ttf') format('ttf'),
}
@font-face {
  font-family: 'Chivo';
  src: url('../public/fonts/Chivo/Chivo-VariableFont_wght.ttf') format('ttf'),
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-VariableFont_slntwght.ttf') format('ttf'),
}
@font-face {
  font-family: 'CrimsonText';
  src: url('../public/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'Julee';
  src: url('../public/fonts/Julee/Julee-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'LMD';
  src: url('../public/fonts/lao-muang-don/LaoMuangDon-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('ttf'),
}


/* general */
.bold{
  @apply text-3xl font-bold;
}
.semibold{
  @apply text-2xl font-bold;
}
.light{
  @apply text-xl font-[90];
}





/* Navbar */
.navbar{
  @apply flex justify-between items-center py-[10px] px-[30px] bg-indigo text-emerald font-CrimsonText;
}
.navbar ul{
  @apply flex;
}
.navbar ul li{
  @apply mx-4;
}
.btn-full-emerald{
  @apply text-indigo font-semibold rounded-lg bg-emerald text-xl px-5 py-2 me-2 mb-2;
}
.btn-hollow-emerald{
  @apply text-indigo rounded-lg border-2 border-emerald  px-5 py-1 me-2 mb-2;
}

/* Homepage  */
/* .homepage{
  @apply px-10;
} */
.lander{
  @apply flex justify-around font-LucidaFax bg-indigo text-emerald px-10 py-5;
}


/* Homepage : Discover  */
.img-rect{
  @apply w-[250px]; 
}
.discover-img-set::-webkit-scrollbar{
  height: 0;
}